*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 85px;
}

.gold{
    color: rgb(244, 176, 4);
}

.form-control2{
    background-color: #e9ecef;
    width: 100%;
}

main{
    height: calc(100vh - 85px);
}

.font{
    font-size: 14px;
}


.gg{
    background-color: rgb(0, 81, 255);
    height: auto;
    
}

.of{
    height: calc(100vh - 85px);
    overflow: auto;
}

.side-bar{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    height: calc(100vh - 85px);
}

.fa-forward{
    color: white;
}

.mw{
    max-width: 7%;
}

tr{
    vertical-align: middle;
}

.offcanvas{
    width: 80%;
}

.lhov:hover{
    background-color: rgb(124, 124, 124);
}